* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.navbar-container {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1.25rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-container > ul {
  list-style: none;

  display: flex;
  justify-content: space-between;
}

.navbar-container > ul > li {
  text-transform: uppercase;
  margin-right: 2.5rem;
  color: white;
  letter-spacing: 0.1rem;
  opacity: 0.5;
  transition: opacity 0.5s;
}

.navbar-container > ul > li:hover {
  cursor: pointer;
  opacity: 1;
}

/* Showcase */

.showcase-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  background-image: url(./images/showcase.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: color;
}

.showcase-container > h1 {
  color: white;
  font-size: 4rem;
  font-weight: 600;
}

.showcase-container > p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
  color: #eee;
  border-bottom: 1.5px solid #fff;
  padding-bottom: 0.5rem;
  padding-inline: 0.5rem;
  letter-spacing: 0.15rem;
}

.about-me-content {
  display: flex;
  align-items: center;
}

.about-me-content > img {
  width: 20rem;
  height: 20rem;
  margin-right: 3.125rem;
}

.about-me-content > p {
  color: white;
  line-height: 2rem;
}

.skills-content {
  margin-top: 6.75rem;
  display: flex;
  justify-content: space-between;
  gap: 3.125rem;
}

.skill-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #202020;
  padding: 3.125rem;
  border-radius: 1.25rem;
  text-align: center;
}

.skill-item > img {
  width: 6.25rem;
  height: 6.25rem;
}

.skill-item > span {
  margin-block: 0.9375rem;
  color: #fff;
}

.skill-item > p {
  color: #fff;
  opacity: 75%;
  font-weight: 500;
}

.projects-content {
  margin-top: 7.375rem;
}

.project-item {
  display: flex;
  align-items: center;
  margin-bottom: 3.125rem;
}

.project-item > img {
  width: 18.75rem;
  height: 18.75rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-text {
  margin-left: 3.125rem;
  max-width: 37.5rem;
  border-radius: 0.9375rem;
}

.project-text > p {
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.8125rem;
}

.project-text > h3 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
}

.project-item:nth-child(even) {
  flex-direction: row-reverse;
}

.project-item-image {
  width: 18.75rem;
  height: 18.75rem;
  background-size: cover;
}

.startup {
  background-image: url(images/startup.png);
}

.hotel {
  background-image: url(images/hotel.png);
}

.programdor {
  background-image: url(images/programador.png);
}

.previsao {
  background-image: url(images/previsao.png);
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 6.25rem;
  max-width: 50rem;
  margin-inline: auto;
}

.contact-form > input,
.contact-form textarea {
  margin-bottom: 1.25rem;
}

.footer-container {
  background-color: black;
  color: rgba(255, 255, 255, 0.75);
  display: flex;
  justify-content: space-between;
  padding: 3.125rem;
}

.footer-container > .social-medias > a {
  margin-right: 3.125rem;
  color: rgba(255, 255, 255, 0.75);
}

/* Utilidades */

.section-container {
  width: 100%;
  background-color: #111;
  padding-block: 7.5rem;
}

.section-content {
  max-width: 71.25rem;
  margin: auto;
}

.section-title {
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  padding-inline: 0.5rem;
  border-bottom: 1.5px solid #fff;
  text-align: center;
  width: fit-content;
  margin: auto;
}

.form-inputs {
  border: none;
  border-radius: 0.625rem;
  padding: 1.25rem;
  background-color: #202020;
  color: rgba(255, 255, 255, 0.5);
  resize: none;
}

.form-inputs:focus {
  outline: 1px solid rgba(255, 255, 255, 0.5);
}

.button {
  border: none;
  padding: 1.25rem;
  border-radius: 0.625rem;
  background-color: black;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

.button:hover {
  cursor: pointer;
}
